/* Estabelece um modelo de caixa consistente em toda a página e remove as margens e o padding padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define a altura total para o corpo e html, e aplica uma fonte padrão */
body, html {
    height: 100vh;
    font-family: 'Segoe UI', Arial, sans-serif;
}


/* Estiliza o contêiner principal da página que envolve a barra lateral e o conteúdo principal */
.main {
    display: flex; /* Utiliza Flexbox */
    height: 100%; /* Define a altura */
}


/* Estiliza a barra lateral */
nav.sidebar {
    width: 80px; /* Define a largura */
    height: 100vh;
    background-color: #ecf0f1; /* Define a cor de fundo */
    padding: 40px 0px 40px 1%; /* Adiciona padding interno */
    box-shadow: 1px 0 0 #0dcaf0 ;
    

    /*position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;*/
    transition: .5s;
    z-index: 2;
}

nav.sidebar.expandir {
    width: 225px;
}

.btn-expandir {
    width: 100%;
    padding-left: 37px;
}

.btn-expandir > i {
    color: black;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.item-menu:hover {
    background: #0dcaf0;
}

ul li.item-menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
    /*margin-bottom: 20px;*/
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
   
}

nav.sidebar.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 25px;
}

/* Estiliza o conteúdo principal à direita da barra lateral */
.main-content {
    flex-grow: 1; /* Permite que o conteúdo principal cresça e ocupe o espaço restante */
    padding: 20px; /* Adiciona padding interno */
    background-color: #ecf0f1; /* Define a cor de fundo */
    overflow-y: auto; /* Ativa a rolagem vertical se o conteúdo for maior que a altura */
    max-height: calc(100vh - 50px); /* Altura máxima: altura total da tela menos a altura do cabeçalho */
    position: relative; /* Posicionamento relativo para o contexto de empilhamento */
    /*height: 100%;*/
    /*width: auto;
    margin-left: 80px;
    display: flexbox;
    padding-top: 50px; /* Espaço para o cabeçalho *
    position: relative;*/
}


/* Estiliza o cabeçalho dentro do conteúdo principal */
.content-header {
    display: flex; /* Utiliza Flexbox */
    justify-content: space-between; /* Alinha os itens nos extremos opostos */
    margin-bottom: 20px; /* Adiciona margem abaixo */
}


/* Remove o estilo de lista padrão e define o padding para zero */
.menu ul {
    list-style-type: none; /* Remove os marcadores */
    padding: 0; /* Remove o padding */
    display: list-item;
}

/* Define o estilo dos itens do menu na barra lateral */
.menu li {
    color: black; /* Define a cor do texto */
    margin-bottom: 10px; /* Adiciona margem abaixo */
    cursor: pointer; /* Muda o cursor para indicar clicabilidade */
}

/* Define o estilo dos botões de ação rápida */
.quick-links button {
    padding: 10px; /* Adiciona padding */
    margin-right: 5px; /* Adiciona margem à direita */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor */
}

/* Estiliza a tabela de clientes */
table {
    width: 100%; /* Ocupa toda a largura disponível */
    border-collapse: collapse; /* Remove espaços entre as células */
}

/* Define o estilo dos cabeçalhos e células da tabela */
table, th, td {
    border: 1px solid #bdc3c7; /* Adiciona borda */
}

/* Define o alinhamento do texto e o padding para cabeçalhos e células */
th, td {
    text-align: left; /* Alinha o texto à esquerda */
    padding: 8px; /* Adiciona padding */
}

/* Define o estilo do cabeçalho da tabela */
th {
    background-color: #ecf0f1; /* Cor de fundo */
}

/* Define o estilo das linhas alternadas da tabela */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo */
}

/* Define o estilo dos botões dentro da tabela */
button {
    padding: 5px 10px; /* Adiciona padding */
    margin-right: 5px; /* Adiciona margem à direita */
    background-color: #3498db; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor */
}


h2 {
    color: #333;
}

/* Define o estilo de cada grupo de campos do formulário */
.form-group {
    margin-bottom: 10px; /* Espaço entre os campos */
}

/* Estiliza os rótulos dos campos do formulário */
.form-group label {
    display: block; /* Exibe o rótulo acima do campo */
    margin-bottom: 5px; /* Espaço entre o rótulo e o campo */
}

.form-group input,
.form-group select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    
}

.form-row .form-group {
    flex: 1;
    margin-right: 6px;
}


.form-row .form-group:last-child {
    margin-right: 0;
}


.form-actions {
    text-align: right;
}


.btn {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
